<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.ub0r.android.andGMXsms"
      android:versionCode="120" android:versionName="1.2">
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="true">
        <activity android:label="@string/app_name" android:configChanges="orientation" android:windowSoftInputMode="adjustResize" android:name=".AndGMXsms">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <data android:scheme="sms"></data>
            </intent-filter>
        </activity>
        <activity android:name="Settings" android:windowSoftInputMode="adjustResize"></activity>
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
</manifest> 
